/*====================================== HOME ======================================*/

@import "../public/style.css";

.topo {
    width: 100%;
    height: 100px;
    background-color: #f0f0f0;
}

img {
    width: 100%;
    height: 100%;
}

#menu {
    position: absolute;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 90%;
    height: 280px;
    left: 80px;
    top: 520px;
    border-radius: 10px;
    background-color: #1c232e;
    border-style: groove;
}

.botao{
    display: inline-block; 
    margin-left: 100px;
    margin-right: 100px;
    padding: 12px 20px;
    font-size: 32px;
    border-radius: 16px;
    background-color: #cccccc;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: black;           /* cor do texto */
    text-decoration: none;
    font-family: Georgia;
}

.botao:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(3, 151, 243, 0.21);
}


/*====================================== INFO ======================================*/

.sessao1{
    width: 100%;
    height: 600px;
    background-color: #3B8952;
}

.sessao2{
    width: 100%;
    height: 600px;
    background-color: #0F684B;
}

.sessao3{
    width: 100%;
    height: 600px;
    background-color: #03484C;
}

.sessao4{
    width: 100%;
    height: 600px;
    background-color: #1C232E;
}

#info{
    color: white;
    font-family: Georgia;
}

.titulo{
    font-size: 32px;
    padding-right: 700px;
    padding-left: 80px;
    padding-top: 60px;
    vertical-align: baseline;
}

.texto{
    font-size: 24px;
    padding-top: 20px;
    padding-right: 700px;
    padding-left: 80px;
    line-height: 1.5;
}

.metal{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 1000px;
}

.elec{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 1000px;
}

.plas{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 1000px;
}

.pp{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 1000px;
}

/*====================================== MATEMATICA ======================================*/

#back{
    background-color: #d9d9d9;
    width: 100%;
    height: 600px;
}

.txt{
    margin-left: 200px;
    font-size: 26px;
    font-family: Georgia;
}

#lixo{
    margin-left: 200px;
    font-size: 20px;
}

#material{
    margin-left: 200px;
    font-size: 20px;
}

#peso{
    margin-left: 200px;
    font-size: 20px;
}

.cv button{
    font-size: 18px;
    margin-left: 200px;
}

#resultado{
    font-size: 32px;
    margin-left: 200px;
    background-color: #8df2b2;
    width: 250px;
    height: 40px;
}

/*====================================== AMBOS ======================================*/

.tp{
    width: 100%;
    height: 100px;
    background-color: #f0f0f0; 
}

.tpbt{
    width: 100%;
    height: 100px;
    text-align: right; 
    position: absolute;
    display: flex;
    justify-content: right; 
    align-items: center; 
}

.nome{
    position: absolute;
    display: flex;
    justify-content: left; 
    align-items: center;
    margin-top: 25px;
    margin-left: 100px;
    border-left-style: solid;
    border-left-color: blue;
    font-size: 40px;
}

.bt{
    margin-right: 70px;
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 16px;
    background-color: #cccccc;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: black;          
    text-decoration: none;
    font-family: Georgia;
}

.bt:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(3, 151, 243, 0.21);
}