@import url('https://fonts.googleapis.com/css2?family=Georgia&display=swap');

img {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}


.tp {
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
}

.tpbt {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  text-align: right;
}

.nome {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  margin-left: 100px;
  border-left: solid blue;
  font-size: 40px;
}

.bt {
  margin-right: 70px;
  padding: 12px 20px;
  font-size: 20px;
  border-radius: 16px;
  background-color: #cccccc;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2),
              0 6px 20px rgba(0,0,0,0.19);
  color: black;
  text-decoration: none;
  font-family: Georgia, serif;
}

.bt:hover {
  box-shadow: 0 12px 16px rgba(0,0,0,0.24),
              0 17px 50px rgba(0,0,0,0.19);
  background-color: rgba(3, 151, 243, 0.21);
}





.sessao1 {
  width: 100%;
  height: 600px;
  background-color: #3B8952;
}

.sessao2 {
  width: 100%;
  height: 600px;
  background-color: #0F684B;
}

.sessao3 {
  width: 100%;
  height: 600px;
  background-color: #03484C;
}

.sessao4 {
  width: 100%;
  height: 600px;
  background-color: #1C232E;
}

#info {
  color: white;
  font-family: Georgia, serif;
}

.titulo {
  font-size: 32px;
  padding: 60px 700px 0 80px;
}

.texto {
  font-size: 24px;
  padding: 20px 700px 0 80px;
  line-height: 1.5;
}

.metal, .elec, .plas, .pp {
  position: absolute;
  width: 300px;
  height: 300px;
  margin-left: 1000px;
}





#back {
  background-color: #d9d9d9;
  width: 100%;
  height: 600px;
}

.txt {
  margin-left: 200px;
  font-size: 26px;
  font-family: Georgia, serif;
}

#lixo, #material, #peso {
  margin-left: 200px;
  font-size: 20px;
}

.cv button {
  font-size: 18px;
  margin-left: 200px;
}

#resultado {
  font-size: 32px;
  margin-left: 200px;
  background-color: #8df2b2;
  width: 250px;
  height: 40px;
}





.topo {
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
}

#menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 280px;
  left: 80px;
  top: 520px;
  border-radius: 10px;
  background-color: #1c232e;
  border-style: groove;
}

.botao {
  display: inline-block;
  margin: 0 100px;
  padding: 12px 20px;
  font-size: 32px;
  border-radius: 16px;
  background-color: #cccccc;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2),
              0 6px 20px rgba(0,0,0,0.19);
  color: black;
  text-decoration: none;
  font-family: Georgia, serif;
}

.botao:hover {
  box-shadow: 0 12px 16px rgba(0,0,0,0.24),
              0 17px 50px rgba(0,0,0,0.19);
  background-color: rgba(3, 151, 243, 0.21);
}
